.hex-row {
  &.odd {
    display: flex;
  }
  &.even {
    display: flex;
    margin-left: calc(@hexsize / 4 * sqrt(3))
  }
  .hex {
    width: calc(@hexsize / 4 * 2 * sqrt(3));
    height: calc(@hexsize / 4 * 2);
    margin-top: calc(@hexsize / 4);
  }
  .hex:before {
    content: '';
    position: absolute;
    width: calc(@hexsize / 4 * 2 * sqrt(3));
    height: calc(@hexsize / 4 * 2);
    background-color: inherit;
    transform: rotate(60deg);
  }
  .hex:after {
    content: '';
    position: absolute;
    width: calc(@hexsize / 4 * 2 * sqrt(3));
    height: calc(@hexsize / 4 * 2);
    background-color: inherit;
    transform: rotate(-60deg);
  }
}
