.canopy-row {
  display: flex;
  flex-direction: column;
  .hexes {
    display: flex;
    flex-direction: row;
    margin-top: calc(@hexsize / 4);
    &:last-of-type {
      margin-bottom: calc(@hexsize / 4);
    }
    &:nth-child(odd) {}
    &:nth-child(even) {
      margin-left: calc(@hexsize / 4 * sqrt(3))
    }
    .hex {
      width: calc(@hexsize / 4 * 2 * sqrt(3));
      height: calc(@hexsize / 4 * 2);
      &::before {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: rotate(60deg);
      }
      &::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: rotate(-60deg);
      }
    }
  }
}

.canopy-col {
  display: flex;
  flex-direction: row;
  .hexes {
    display: flex;
    flex-direction: column;
    margin-left: calc(@hexsize / 4);
    &:last-of-type {
      margin-right: calc(@hexsize / 4);
    }
    &:nth-child(odd) {}
    &:nth-child(even) {
      margin-top: calc(@hexsize / 4 * sqrt(3));
    }
    .hex {
      width: calc(@hexsize / 4 * 2);
      height: calc(@hexsize / 4 * 2 * sqrt(3));
      &::before {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: rotate(60deg);
      }
      &::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: rotate(-60deg);
      }
    }
  }
}
